.messages {
  background: antiquewhite;
  font-family: monospace;
  font-size: 34px;
  padding: 10px;
  border: solid silver 1px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;

  -webkit-animation  : fadein 5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation : fadein 5s; /* Firefox < 16 */
      -ms-animation  : fadein 5s; /* Internet Explorer */
        -o-animation : fadein 5s; /* Opera < 12.1 */
          animation  : fadein 5s;
}

body {
  background: rgb(66, 52, 48);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
